@import "../../../assets/scss/global";

.sign-in-wrapper {
    display: flex;
    column-gap: 50px;
    flex-direction: column;
    @include largeScreen {
        flex-direction: row;
    }

    .left-content {
        width: 100%;
        @include largeScreen {
            order: 1;
            width: 60%;
        }
    }

    .right-content {
        padding: 0 $s-padding;
        width: 100%;
        @include largeScreen {
            order: 2;
            width: 40%;
        }

        .submit-btn {
            width: 200px;
            margin: $m-margin auto 0;
            display: flex;
            justify-content: center;
            border: 0;
            background-color: $blue-main;
            color: white;
        }
    }
}