@import "../../../assets/scss/global";

.sign-in-wrapper {
    display: flex;
    column-gap: 50px;
    @include smallScreen {
        flex-direction: column;
    }

    .left-content {
        width: 60%;
        @include smallScreen {
            width: 100%;
            order: 2;
        }
    }

    .right-content {
        width: 40%;
        padding: 0 $s-padding;
        @include smallScreen {
            width: 100%;
            order: 1;
        }

        .submit-btn {
            width: 200px;
            margin: $m-margin auto 0;
            display: flex;
            justify-content: center;
            border: 0;
            background-color: $blue-main;
            color: white;
        }
    }
}