@import "../../../assets/scss/global";

.input-text-field {
    &:not(:first-child) {
        margin-top: 1rem;
    }

    label {
        font-size: 12px;
        line-height: 18px;

        span {
            margin-left: 3px;
            color: #f33060;
        }
    }

    &.full-border {
        .input-group {
            input {
                border: 1px solid #e5e5e5;
                padding: 9px 8px;
                border-radius: 8px;

                &:focus {
                    border-color: #0f62f9;
                }
            }
        }
    }

    &.size-lg {
        .input-group {
            input {
                padding: 17px 16px;
                border-radius: 12px;
            }
        }
    }

    .input-group {
        position: relative;
        
        textarea,
        input {
            border: none;
            outline: none;
            box-sizing: border-box;
            background-color: transparent;
            padding: 9px 0;
            color: var(--black);
            border-bottom: 1px solid #e5e5e5;
            border-top: 1px solid transparent;
            font-size: 15px;
            line-height: 18px;
            width: 100%;
            border-radius: 0;
            font-family: inherit;
            &.has-icon-left {
                padding-left: 28px;
            }
            &.has-icon-right {
                padding-right: 28px;
            }
            &:focus {
                border-bottom-color: #0f62f9;
            }

            &::-webkit-input-placeholder {
                /* Edge */
                color: #b2bac6;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                font-family: inherit;
            }

            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #b2bac6;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                font-family: inherit;
            }

            &::placeholder {
                color: #b2bac6;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                font-family: inherit;
            }
        }
        textarea{
            resize: none;
        }
        .icon-left {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 20px;
        }
        .icon-right {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 20px;
        }
    }

    &.error {
        label {
            color: #f33060;
        }
        textarea,
        input {
            border-bottom-color: #f33060 !important;
        }

        &.full-border {
            input {
                border-color: #f33060 !important;
            }
        }

        .feedback {
            color: #f33060;
            font-size: 12px;
            line-height: 18px;
            margin-top: 2px;
        }
    }
}
