$font-family: 'RoundedNext';

$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$blue-main: #0F62F9;

//radius
$basic-radius: 0.75rem;
$medium-radius: 1.25rem;

$s-padding: 1rem;
$m-padding: 2rem;
$l-padding: 3rem;
$s-margin: 1rem;
$m-margin: 2rem;
$l-margin: 3rem;

$large-screen: 1280px;
$medium-screen: 992px;
$small-screen: 576px;