@import "../../asstes/scss/global.scss";

.home-wrapper {
  display: grid;
  --header-height: 56px;
  --column: 4;
  @include smallScreen{
    --column: 2;
  }
  grid-template-columns: repeat(var(--column), 1fr);
  grid-column-gap: 20px;
}