@import "../../../assets/scss/global";

.model-item {
  box-shadow: 0 0 12px rgb(15 61 145 / 12%);
  border-radius: $medium-radius;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--bs-dark-rgb);

  .image-cover {
    width: 100%;
    height: auto;
    position: relative;
    transition: opacity .2s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .image-des {
    padding: 10px;

    p {
      margin: 0;
      transition: color .2s linear;

      &:hover {
        color: red;
      }
    }

    span {
      font-size: 14px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }
  }
}