@import "../../assets/scss/global";

.brief-introduction {
    @include largeScreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-information {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @include largeScreen {
            flex-direction: row;
        }

        div {
            text-align: center;
            @include largeScreen{
                text-align: initial;
            }
        }

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 20px;
            @include largeScreen {
                margin-right: 40px;
            }
        }
    }


    .technology {
        margin-top: 100px;
        width: 100%;

        h3 {
            margin: 0 auto;
            width: fit-content;
        }

        .technology-content {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;
            @include largeScreen {
                flex-direction: row;
            }
        }
    }

    .card {
        padding: 20px;
        border-radius: $basic-radius;
        box-shadow: 0 0 12px var(--box-shadow);
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 50px rgb(15 61 145 / 62%);
        }

        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 350px;

            h4 {
                text-align: center;
            }

            div {
                text-align: center;
                margin-top: auto;
            }
        }
    }

    .download-my-cv {
        margin-top: 100px;

        .download-btn {
            position: relative;
            width: 200px;
            height: 50px;
            padding: 10px 15px;
            color: red;
            font-weight: 600;
            border: 0;
            outline: none;
            transition: all linear .5s;

            span {
                position: absolute;
                background-color: orangered;
                transition: all linear .5s;
            }

            span:nth-child(1) {
                width: 0;
                height: 2px;
                left: 0;
                top: 0;
                border-radius: 10px;
            }

            span:nth-child(2) {
                height: 0;
                width: 2px;
                right: 0;
                top: 0;
            }

            span:nth-child(3) {
                width: 0;
                height: 2px;
                right: 0;
                bottom: 0;
            }

            span:nth-child(4) {
                height: 0;
                width: 2px;
                left: 0;
                bottom: 0;
            }

            &:hover {
                background-color: #ffdd00;
                color: white;

                span:nth-child(odd) {
                    width: 100%;
                    transition-delay: .5s;
                }

                span:nth-child(even) {
                    height: 100%;
                }
            }
        }
    }
}