@import "../../assets/scss/global";

.home-wrapper {
    display: grid;
    --header-height: 56px;
    --column: 1;

    @include largeScreen {
        --column: 4;
    }
    grid-template-columns: repeat(var(--column), 1fr);
    grid-column-gap: $s-padding * 3;
    grid-row-gap: 20px;

    .mixins {
        @include smallScreen {
            font-size: 10px !important;
        }
        @include mediumScreen {
            font-size: 50px !important;
        }
        @include largeScreen {
            font-size: 90px !important;
        }
    }

    .submit {
        color: blue;
        transition: color 1s linear;
        &:hover {
            color: red;
        }
    }
}