@import "../../../assets/scss/global";

.footer-wrapper {
    display: flex;
    align-items: center;
    height: fit-content;
    border-top: 10px solid var(--bs-dark-rgb);
    padding: $s-padding 0 ($l-padding * 2.5) 0;
    @include largeScreen {
        padding: ($s-padding * 2) 0;
    }

    .copy-right {
        display: flex;
        justify-content: center;
    }

    .contact-icon {
        margin-bottom: $s-margin;
    }
}